@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    margin: 0;
    padding: 0;
    overflow-x: hidden;

    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: rgb(239, 242, 241);
    background-color: rgb(239, 242, 241);
}

body::-webkit-scrollbar {
    display: none;
}

main {
    flex: 1 0 auto;
}

.row .col {
    padding: 0;
}

.flashes {
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: rgb(58, 50, 56);
    background-color: rgb(196, 146, 110, 0.85);
}

/* Navbar & Collapsible Sidenav */

#nav_bar {
    height: 12vh;
}

header nav .nav-wrapper .brand-logo {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2.25rem;
    color: rgb(239, 242, 241);
    margin-right: 1rem;
    /* text-shadow styling adapted from https://css-tricks.com/3d-text-tower/ */
    text-shadow: 0.1rem 0.1rem 0 rgb(196, 146, 110), 0.2rem 0.2rem 0 rgb(196, 146, 110), 0.3rem 0.3rem 0 rgb(196, 146, 110);
    -webkit-text-stroke: 0.1rem black;
}

header nav .nav-wrapper,
header nav .nav-wrapper .sidenav-trigger,
header .sidenav,
header .sidenav li>a {
    font-family: 'Space Grotesk', sans-serif;
    background-color: rgb(58, 50, 56);
    color: rgb(239, 242, 241);
}

header .sidenav {
    padding-top: 2rem;
}

header nav .nav-wrapper .brand-logo {
    font-weight: 500;
}

header nav .nav-wrapper li>a {
    color: rgb(239, 242, 241);
    font-size: 1.1rem;
}

header nav .nav-wrapper li>a:hover {
    color: rgb(196, 146, 110);
}

header nav .nav-wrapper li>a>i {
    margin-right: 0.5rem;
}

header .sidenav li>a {
    font-size: 2rem;
    margin-top: 1.5rem;
}

header .sidenav li>a>i {
    color: rgb(239, 242, 241);
    margin-right: 1rem;
}

/* CSS for sticky Navbar adapted from example here: https://www.w3schools.com/howto/howto_js_navbar_sticky.asp
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

/* Add some top padding to the page content to prevent sudden quick movement */
.content {
    padding-top: 6rem;
}

/* Buttons */

.red-btn,
.green-btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    color: rgb(239, 242, 241);
    width: 100%;
}

.red-btn {
    background-color: rgb(136, 13, 30);
}

.green-btn {
    background-color: rgb(87, 167, 115);
}

.edit-btn {
    color:rgb(87, 167, 115);
    text-shadow: 0.1rem 0.1rem rgb(239, 242, 241, 0.5);
}

.edit-btn:hover,
.edit-btn:focus {
    color:rgb(87, 167, 115, 0.7);
}

.delete-btn {
    color: rgb(136, 13, 30);
    text-shadow: 0.1rem 0.1rem rgb(239, 242, 241, 0.5);
}

.delete-btn:hover,
.delete-btn:focus {
    color: rgb(136, 13, 30, 0.7);
}

.btn:hover,
.btn-large:hover {
    background-color: rgb(58, 50, 56);
}

.btn:focus,
.btn-large:focus {
    background-color: rgb(58, 50, 56, 0.75);
}

/* Hero Image */

#hero-container {
    margin:0;
    padding: 0;
    border: 0;
}

#hero-section {
    min-height: 80vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background: url(/static/images/hero-img.jpg) no-repeat center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#hero-card {
    background-color: rgb(196, 146, 110, 0.85); 
    margin-top: 10vh;
    text-align: center;
}

#hero-header {
    color: rgb(58, 50, 56);
    text-shadow: 0.2rem 0.2rem rgb(239, 242, 241, 0.25);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    padding: 1.5rem;
}

#hero-text {
    color: rgb(58, 50, 56);
    text-shadow: 0.1rem 0.1rem rgb(239, 242, 241, 0.25);
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 3rem;
}

#hero-card-wrapper {
    margin: 0;
}

/* ----------------- Recipes Section */

/* Recipes Header & Search */

h2 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
}

h2,
.input-field>.fa-search {
    color: rgb(58, 50, 56);
}

.search-toast {
    font-family: 'Space Grotesk', sans-serif;
    background-color: rgb(136, 13, 30, 0.95);
    color: rgb(239, 242, 241);
    font-weight: 400;
}

/* Materialize toast positioning adapter from: https://stackoverflow.com/questions/33566041/materialize-css-change-position-of-toast-dialog */
#toast-container {
    min-width: 10%;
    top: 40%;
    right: 50%;
    transform: translateX(50%) translateY(50%);
}

/* Recipe Cards */

.card-wrapper {
    padding: 1rem;
}

.card,
.card-panel {
    background-color: rgb(196, 146, 110, 0.75);
    color: rgb(58, 50, 56);
    font-size: 0.9rem;
    border-radius: 0;
    box-shadow:
        0 10px 6px -6px rgb(58, 50, 56, 0.5),
        0 10px 6px -6px rgb(58, 50, 56, 0.5),
        0 10px 6px -6px rgb(58, 50, 56, 0.5);
}

.card-title,
.card strong {
    font-family: 'Space Grotesk', sans-serif;
}

.recipe-time-head {
    font-size: 1.25rem;
}

.card-title hr {
    background-color: rgb(58, 50, 56, 0.3);
    height: 0.05rem;
    border: 0;
}

.card-body {
    font-size: 1.1rem;
    font-weight: 300;
}

.user-display {
    font-style: italic;
    color: rgb(58, 50, 56, 0.75);
}

/* Register */

.auth-text {
    font-size: 1rem;
    font-style: italic;
    margin-top: -0.75rem;
    color:rgb(58, 50, 56, 0.75);
}

.register-form {
    color:rgb(58, 50, 56);
}

/* Profile */

/* Add/Edit Recipe */

.recipe-form {
    color: rgb(58, 50, 56);
}

.form-card {
    background-color: rgb(196, 146, 110, 0.75);
}

.input-field>label {
    color: rgb(58, 50, 56, 0.75);
}

.form-contact-text,
.form-contact-text a {
    color: rgb(58, 50, 56);
    font-size: 1rem;
}

.form-contact-text a {
    text-decoration: underline;
    font-style: italic;
}

.form-contact-text a:hover,
.form-contact-text a:focus {
    color: rgb(58, 50, 56, 0.75);
}

.select-wrapper input.select-dropdown,
.input-field>#username,
.input-field>#password,
.input-field>#coffee_weight,
.input-field>#water_weight,
.input-field>#time_mins,
.input-field>#time_secs,
.input-field>#description,
.input-field>#brew_method,
.input-field>#brew_image,
.input-field>#contactUsername,
.input-field>#contactName,
.input-field>#contactEmail,
.input-field>#contactMessage {
    border-bottom: 1px solid rgb(58, 50, 56, 0.75);
}

/* Brew Methods */

.card-image {
    height: 30rem;
    overflow: hidden;
}

.card-image>img {
    object-fit: fill;
}

.brew-method-card {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

/* Contact */

.contact-text {
    font-size: 1rem;
    font-style: italic;
    margin-top: -0.75rem;
    color:rgb(58, 50, 56, 0.75);
}

.contact-toasts {
    font-family: 'Space Grotesk', sans-serif;
    background-color: rgb(87, 167, 115, 0.95);
    color: rgb(58, 50, 56);
    font-weight: 400;
}

/* Modals */

.modal {
    background-color: rgb(136, 13, 30, 0.9);
    color: rgb(239, 242, 241);
    text-shadow: 0.1rem 0.1rem rgb(58, 50, 56, 0.5);
}

.del-text,
.cancel-text {
    text-shadow: none;
    font-size: 1.5rem;
}

.del-text {
    font-weight: 600;
    color: rgb(136, 13, 30);
}

.cancel-text {
    color: rgb(58, 50, 56);
}

/* Footer */

.page-footer {
    background-color: rgb(58, 50, 56);
    padding-top: 1rem;
}

.foot-header {
    font-size: 1.25rem;
    color: rgb(239, 242, 241);
}

.foot-text,
.foot-url {
    font-size: 0.9rem;
    color: rgb(239, 242, 241, 0.75);
}

.page-footer .foot-url {
    color: rgb(239, 242, 241, 0.75);
}

.page-footer .foot-url:hover {
    color: rgb(196, 146, 110, 0.75);
}

.footer-copyright {
    font-size: 1rem;
}

@media (min-width: 768px) {
    header nav .nav-wrapper .brand-logo {
        font-size: 3rem;
        margin-right: 2.5rem;
    }
}

@media (min-width: 768px) {
    #hero-card {
        margin-top: 15vh;
    }
}