{% extends "base.html" %}
{% block content %}
    <h2 class="center-align">Add New Recipe</h2>

    <div class="row card-panel">
        <form action="{{ url_for('add_recipe') }}" method="POST" class="col s12">
            <!-- Brew Method -->
            <div class="row">
                <div class="input-field col s12">
                    <select name="brew_method" id="brew_method" class="validate" required>
                        <option value="" disabled selected>Choose a Brew Method</option>
                        {% for brew_method in brew_methods %}
                            <option value="{{ brew_method.method_name }}">{{ brew_method.method_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="brew_method">Brew Method</label>
                </div>
            </div>

            <!-- Roast Level -->
            <div class="row">
                <div class="input-field col s12">
                    <select name="roast_level" id="roast_level" class="validate" required>
                        <option value="" disabled selected>Choose a Roast Level</option>
                        {% for roast in roast_levels %}
                            <option value="{{ roast }}">{{ roast }}</option>
                        {% endfor %}
                    </select>
                    <label for="roast_level">Roast Level</label>
                </div>
            </div>

            <!-- Grind Size -->
            <div class="input-field col s12">
                <input id="grind_size" type="text" class="validate">
                <label for="grind_size">Grind Size</label>
            </div>

            <!-- Coffee Weight -->
            <div class="input-field col s12">
                <input id="coffee_weight" type="text" class="validate">
                <label for="coffee_weight">Coffee Weight (in grams)</label>
            </div>

            <!-- Water Weight -->
            <div class="input-field col s12">
                <input id="water_weight" type="text" class="validate">
                <label for="water_weight">Water Weight (in millilitres)</label>
            </div>

            <!-- Description -->
        </form>
    </div>
{% endblock %}