{% extends "base.html" %}
{% block content %}
    <h2 class="center-align">Add New Recipe</h2>

    <div class="row card-panel">
        <form action="{{ url_for('add_recipe') }}" method="POST" class="col s12">
            <!-- Brew Method -->
            <div class="row">
                <div class="input-field col s12">
                    <select name="brew_method" id="brew-method" class="validate" required>
                        <option value="" disabled selection>Choose a Brew Method</option>
                        {% for brew_method in brew_methods %}
                            <option value="{{ brew_method.method_name }}">{{ brew_method.method_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="brew_method">Brew Method</label>
                </div>
            </div>

            <!-- Roast Level -->

            <!-- Grind Size -->

            <!-- Coffee Weight -->

            <!-- Water Weight -->

            <!-- Description -->
        </form>
    </div>
{% endblock %}