<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <script>
        (function(){
            emailjs.init("user_O5ILWULJg4vGDxVtFXhOL");
        })();
    </script>
    <script>
        var userName = '{{ username }}'; // Code for setting JS variable from a Jinja variable adapted from: https://stackoverflow.com/questions/11178426/how-can-i-pass-data-from-flask-to-javascript-in-a-template
    </script>
    {% block styles %}
    {% endblock %}
    <title>Brew Exchange</title>
</head>
<body>

    <header>
        {% block hero %}
        {% endblock %}
        <nav id="nav_bar">
            <div class="nav-wrapper valign-wrapper">
                <a href="{{ url_for('get_recipes') }}" class="brand-logo right">Brew Exchange</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                <ul class="left hide-on-med-and-down">
                    <li><a href="{{ url_for('get_recipes') }}"><i class="fas fa-home"></i>All Recipes</a></li>
                    {% if session.user %}
                        <li><a href="{{ url_for('profile', username=session['user']) }}"><i class="fas fa-user"></i>Profile</a></li>
                        <li><a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Log Out</a></li>
                        {% if session.user|lower == "admin"|lower %}
                            <li><a href="{{ url_for('brew_methods') }}"><i class="fas fa-clipboard-list"></i>Manage Brew Methods</a></li>
                        {% endif %}
                    {% else %}
                        <li><a href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt"></i>Log In</a></li>
                        <li><a href="{{ url_for('register') }}"><i class="fas fa-marker"></i>Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('get_recipes') }}"><i class="fas fa-home"></i>All Recipes</a></li>
            {% if session.user %}
                <li><a href="{{ url_for('profile', username=session['user']) }}"><i class="fas fa-user"></i>Profile</a></li>
                <li><a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Log Out</a></li>
                {% if session.user|lower == "admin"|lower %}
                    <li><a href="{{ url_for('brew_methods') }}"><i class="fas fa-clipboard-list"></i>Manage Brew Methods</a></li>
                {% endif %}
            {% else %}
                <li><a href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt"></i>Log In</a></li>
                <li><a href="{{ url_for('register') }}"><i class="fas fa-marker"></i>Register</a></li>
            {% endif %}
        </ul>
    </header>

    <section id="flash-section">
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    
    <main class="container">
        <div id="page-header">
            <!-- Scroll to search element if template is rendered via "/search" Flask app route.
                Code adapted from: https://stackoverflow.com/questions/31863582/automatically-scroll-to-a-div-when-flask-returns-rendered-template -->
            {% if scroll %}
                <script>
                    document.location.hash = '#' + '{{ scroll }}';
                </script>
            {% endif %}
            <h2 class="center-align">{{ page_header }}</h2>
        </div>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="foot-header">Brew Exchange</h5>
                    <p class="foot-text">This site has been created for educational purposes only.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="foot-header">Contact Us</h5>
                    <ul>
                        <li>
                            <a class="foot-url" target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/alison-dowling-658b4519b/">
                                <i class="fab fa-linkedin"></i> LinkedIn
                            </a>
                        </li>
                        <li>
                            <a class="foot-url" target="_blank" rel="noreferrer" href="https://github.com/adowlin/project-3-brew-exchange">
                                <i class="fab fa-github"></i> GitHub
                            </a>
                        </li>
                        <li>
                            <a class="foot-url" href="{{ url_for('contact') }}">
                                <i class="fas fa-at"></i> Email
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                &copy; 2021 Alison Dowling
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>