{% extends "base.html" %}
{% block content %}
    <h2 class="center-align">Manage Brew Methods</h2>

    <div class="row cards-wrapper">
    {% for brew_method in brew_methods %}
        <div class="col s10 offset-s1 m6 cards">
            <div class="card-wrapper">
                <div class="card brew-method-card">
                    <div class="card-content row">
                        <span class="left-align col s6 offset-s2">{{ brew_method.method_name }}</span>
                        <a href="#modal-{{ brew_method._id }}" class="modal-trigger text-shadow delete-btn col s2 offset-s1">
                            <i class="far fa-trash-alt"></i>
                        </a>
                        {% include "components/modals.html" %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}