{% extends 'base.html' %}
{% block content %}

    <div class="row">
        <div class="col s12">
            <p class="center-align contact-text">
                Send an email using the form below to get in touch with the site admins!
            </p>
        </div>
    </div>

    <div class="row register-form">
        <form action="" method="POST" class="col s12 m8 offset-m2">
            <div class="card-panel form-card">
                <!-- Username if user is logged in -->
                {% if session.user %}
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-user-plus prefix"></i>
                            <input type="text" id="contact-username" name="contact-username" minlenth="5"
                                maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label for="contact-username">Username</label>
                        </div>
                    </div>
                {% else %}
                    <!-- Name -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="far fa-user prefix"></i>
                            <input type="text" id="contact-name" name="contact-name" minlength="1"
                                maxlength="50" pattern="^[a-zA-Z0-9]{1,50}$" class="validate" required>
                            <label for="contact-name">Name</label>
                        </div>
                    </div>
                {% endif %}
                <!-- Email -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-at prefix"></i>
                        <input type="email" id="contact-email" name="contact-email" minlength="1"
                            maxlength="50" class="validate" required>
                        <label for="contact-email">Email Address</label>
                    </div>
                </div>
                <!-- Description -->
                <div class="row">
                    <div class="input-field col s12 m10 offset-m1">
                        <i class="far fa-sticky-note prefix"></i>
                        <textarea id="contact-message" name="contact-message" minlength=1 maxlength=500 class="materialize-textarea" required></textarea>
                        <label for="contact-message">Your Message</label>
                    </div>
                </div>
                <!-- Submit Button -->
                <div class="row">
                    <button type="submit" class="col s8 offset-s2 btn-large text-shadow green-btn">
                        <i class="far fa-paper-plane"></i> Submit!
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}