{% extends "base.html" %}
{% block content %}
    <div class="center-align form-contact-text">
        Don't see your Brew Method? <a href="{{ url_for('contact') }}">Contact Us!</a>
    </div>
    <div class="row card-panel form-card">
        <form action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" onsubmit="return validateFormRecipe()" name="recipeForm" method="POST" class="col s12 recipe-form">
            <!-- Brew Method -->
            <div class="row">
                <div class="input-field col s12 m10 offset-m1">
                    <i class="fas fa-coffee prefix"></i>
                    <select name="brew_method" id="brew_method" class="validate" required>
                        <option value="" disabled>Choose a Brew Method</option>
                        {% for brew_method in brew_methods %}
                            {% if brew_method.method_name == recipe.recipe_method %}
                                <option value="{{ brew_method.method_name }}" selected>{{ brew_method.method_name }}</option>
                            {% else %}
                                <option value="{{ brew_method.method_name }}">{{ brew_method.method_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="brew_method">Brew Method</label>
                </div>
            </div>

            <!-- Roast Level -->
            <div class="row">
                <div class="input-field col s12 m10 offset-m1">
                    <i class="fas fa-signal prefix"></i>
                    <select name="roast_level" id="roast_level" class="validate" required>
                        <option value="" disabled>Choose a Roast Level</option>
                        {% for roast in roast_levels %}
                            {% if roast == recipe.roast_level %}
                                <option value="{{ roast }}" selected>{{ roast }}</option>
                            {% else %}
                                <option value="{{ roast }}">{{ roast }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="roast_level">Roast Level</label>
                </div>
            </div>

            <!-- Grind Size -->
            <div class="row">
                <div class="input-field col s12 m10 offset-m1">
                    <i class="fas fa-mortar-pestle prefix"></i>
                    <select name="grind_size" id="grind_size" class="validate" required>
                        <option value="" disabled>Choose a Grind Size</option>
                        {% for grind in grind_sizes %}
                            {% if grind == recipe.grind_size %}
                                <option value="{{ grind }}" selected>{{ grind }}</option>
                            {% else %}
                                <option value="{{ grind }}">{{ grind }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="grind_size">Grind Size</label>
                </div>
            </div>

            <!-- Coffee Weight -->
            <div class="input-field col s12 m10 offset-m1">
                <i class="fas fa-weight prefix"></i>
                <input id="coffee_weight" name="coffee_weight" type="number" step="0.1" min="1" max="10000" class="validate"
                    value="{{ recipe.coffee_weight }}" required>
                <label for="coffee_weight">Coffee Weight (in grams)</label>
            </div>

            <!-- Water Weight -->
            <div class="input-field col s12 m10 offset-m1">
                <i class="fas fa-tint prefix"></i>
                <input id="water_weight" name="water_weight" type="number" step="0.1" min="1" max="10000" class="validate"
                    value="{{ recipe.water_weight }}" required>
                <label for="water_weight">Water Weight (in millilitres)</label>
            </div>

            <!-- Brew Time -->
            <div class="input-field col s7 m4 offset-m1">
                <i class="far fa-clock prefix"></i>
                <input id="time_mins" name="time_mins" type="number" min="1" max="60" class="validate" value="{{ recipe.time_mins }}" required>
                <label for="time_mins"><span class="hide-on-small-only">Brew</span> Time (Mins)</label>
            </div>
            <div class="input-field col s4 offset-s1 m4 offset-m2">
                <input id="time_secs" name="time_secs" type="number" min="1" max="60" class="validate" value="{{ recipe.time_secs }}" required>
                <label for="time_secs"><span class="hide-on-small-only">Brew</span> Time (Secs)</label>
            </div>

            <!-- Description -->
            <div class="row">
                <div class="input-field col s12 m10 offset-m1">
                    <i class="far fa-sticky-note prefix"></i>
                    <textarea id="description" name="description" minlength=1 maxlength=500 class="materialize-textarea" required>
                        {{- recipe.description -}}
                    </textarea>
                    <label for="description">Description</label>
                </div>
            </div>

            <!-- Buttons -->
            <div class="row">
                <button type="submit" class="green-btn btn text-shadow col s3 offset-s2">
                    <i class="far fa-save"></i><span class="hide-on-small-only" aria-label="Save Button"> Save</span>
                </button>
                <a href="{{ url_for('profile', username=session['user']) }}"
                    class="red-btn btn text-shadow col s3 offset-s2">
                    <i class="far fa-times-circle"></i><span class="hide-on-small-only" aria-label="Cancel Button"> Cancel</span>
                </a>
            </div>
        </form>
    </div>
{% endblock %}