{% extends "base.html" %}
{% block content %}
    <div class="row">
        <a href="{{ url_for('add_recipe') }}" class="green-btn btn text-shadow col s3 right">
            <i class="fas fa-plus"></i> <span class="hide-on-small-only">New Recipe</span>
        </a>
    </div>

    <div class="row cards-wrapper">
        {% for recipe in recipes %}
            <div class="col s12 m6 cards">
                <div class="card-wrapper">
                    <div class="card large">
                        <div class="card-content">
                            <span class="card-title row">
                                <div class="col s6 offset-s1">
                                    <strong>{{ recipe.recipe_method }}</strong><br>
                                    <em class="recipe-time-head">{{ recipe.time_mins }}:{{ recipe.time_secs }} mins</em>
                                </div>
                                {% if session["user"] == recipe.user %}
                                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="modal-trigger text-shadow col s2 offset-s1 edit-btn">
                                        <i class="far fa-edit"></i>
                                    </a>
                                    <a href="#modal-{{ recipe._id }}" class="modal-trigger text-shadow col s2 delete-btn">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                    {% include "components/modals.html" %}
                                {% endif %}
                                <hr class="col s12">
                            </span>
                            <p class="card-body">
                                <strong>Roast Level:</strong> <span>{{ recipe.roast_level }}</span><br>
                                <strong>Grind Size:</strong> <span>{{ recipe.grind_size }}</span><br>
                                <strong>Coffee Weight:</strong> <span>{{ recipe.coffee_weight }}g</span><br>
                                <strong>Water Weight:</strong> <span>{{ recipe.water_weight }}g</span><br>
                                <strong>Total Brew Time: </strong> <span>{{ recipe.time_mins }}:{{ recipe.time_secs }} mins</span><br><br>
                                <p>{{ recipe.description }}</p><br>
                            </p>
                        </div>
                        <div class="card-action">
                            <span class="right user-display"><strong>Added By:</strong> {{ recipe.user }}</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}