{% extends "base.html" %}
{% block hero %}
    <div class="container row" id="hero-container">
        <div class="col s12 m12 l12 xl12" id="hero-section">
            <div class="row">
                <div class="col s10 offset-s1 m6 offset-m3 l4 offset-l4">
                    <div class="card-panel" id="hero-card">
                        <h3 id="hero-header">Brew Exchange</h2>
                        <p id="hero-text">Browse & Share Coffee Brewing Recipes!</p>
                        <div class="row button-wrapper">
                            <div class="col s6 offset-s3">
                                <a class="waves-effect waves-light btn cta-btn">Search Recipes</a>
                            </div>
                        </div>
                        <div class="row button-wrapper">
                            <div class="col s6 offset-s3">
                                <a class="waves-effect waves-light btn cta-btn">Log In</a>
                            </div>
                        </div>
                        <div class="row button-wrapper">
                            <div class="col s6 offset-s3">
                                <a class="waves-effect waves-light btn cta-btn">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% for recipe in recipes %}
        {{ recipe.recipe_method }}<br>
        {{ recipe.roast_level }}<br>
        {{ recipe.grind_size }}<br>
        {{ recipe.coffee_weight }}<br>
        {{ recipe.water_weight }}<br>
        {{ recipe.time }}<br>
        {{ recipe.description }}<br>
    {% endfor %}
{% endblock %}