{% extends "base.html" %}
{% block hero %}
    <div class="container row" id="hero-container">
        <div class="col s12" id="hero-section">
            <div class="row">
                <div class="col s10 offset-s1 m6 offset-m3 l4 offset-l4">
                    <div class="card-panel" id="hero-card">
                        <h3 id="hero-header">Brew Exchange</h2>
                        <p id="hero-text">Browse & Share Coffee Brewing Recipes!</p>
                        <div class="row button-wrapper">
                            <div class="col s6 offset-s3">
                                <a href="#page-header" class="btn red-btn"><i class="fas fa-search hide-on-small-only"></i> Search Recipes</a>
                            </div>
                        </div>
                        {% if session.user %}
                            <div class="row button-wrapper">
                                <div class="col s6 offset-s3">
                                    <a href="{{ url_for('profile', username=session['user']) }}" class="btn red-btn"><i class="fas fa-user hide-on-small-only"></i> Profile</a>
                                </div>
                            </div>
                            {% if session.user|lower == "admin"|lower %}
                                <div class="row button-wrapper">
                                    <div class="col s6 offset-s3">
                                        <a href="{{ url_for('brew_methods') }}" class="btn red-btn"><i class="fas fa-clipboard-list hide-on-small-only"></i> Manage <span class="hide-on-small-only">Methods</span></a>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="row button-wrapper">
                                <div class="col s6 offset-s3">
                                    <a href="{{ url_for('login') }}" class="btn red-btn"><i class="fas fa-sign-in-alt hide-on-small-only"></i> Log In</a>
                                </div>
                            </div>
                            <div class="row button-wrapper">
                                <div class="col s6 offset-s3">
                                    <a href="{{ url_for('register') }}" class="btn red-btn"><i class="fas fa-marker hide-on-small-only"></i> Register</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}

    <div class="row card-panel search-wrapper">
        <form action="{{ url_for('search') }}" method="POST" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12">
                    <i class="fas fa-search prefix"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Recipes</label>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="green-btn btn text-shadow col s3 offset-s2">
                    <i class="fas fa-search"></i><span class="hide-on-small-only"> Search</span>
                </button>
                <a href="{{ url_for('get_recipes') }}" class="red-btn btn text-shadow col s3 offset-s2">
                    <i class="far fa-times-circle"></i><span class="hide-on-small-only"> Clear</span>
                </a>
            </div>
        </form>
    </div>

    <div class="row cards-wrapper">
        {% for recipe in recipes %}
            <div class="col s12 m6 cards">
                <div class="card-wrapper">
                    <div class="card large">
                        <div class="card-content">
                            <span class="card-title row">
                                <div class="col s6 offset-s1">
                                    <strong>{{ recipe.recipe_method }}</strong><br>
                                    <em class="recipe-time-head">{{ recipe.time_mins }}:{{ recipe.time_secs }} mins</em>
                                </div>
                                {% if session.user|lower == recipe.user|lower or session.user|lower == "admin"|lower %}
                                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="modal-trigger text-shadow col s2 offset-s1 edit-btn">
                                        <i class="far fa-edit"></i>
                                    </a>
                                    <a href="#modal-{{ recipe._id }}" class="modal-trigger text-shadow col s2 delete-btn">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                    {% include "components/modals.html" %}
                                {% endif %}
                                <hr class="col s12">
                            </span>
                            <p class="card-body">
                                <strong>Roast Level:</strong> <span>{{ recipe.roast_level }}</span><br>
                                <strong>Grind Size:</strong> <span>{{ recipe.grind_size }}</span><br>
                                <strong>Coffee Weight:</strong> <span>{{ recipe.coffee_weight }}g</span><br>
                                <strong>Water Weight:</strong> <span>{{ recipe.water_weight }}g</span><br>
                                <strong>Total Brew Time: </strong> <span>{{ recipe.time_mins }}:{{ recipe.time_secs }}
                                    mins</span><br><br>
                                <p>{{ recipe.description }}</p><br>
                            </p>
                        </div>
                        <div class="card-action">
                            <span class="right user-display"><strong>Added By:</strong> {{ recipe.user }}</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}