<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brew Exchange</title>
</head>
<body>
    {% for recipe in recipes %}
        {{ recipe.recipe_method }}<br>
        {{ recipe.roast_level }}<br>
        {{ recipe.grind_size }}<br>
        {{ recipe.coffee_weight }}<br>
        {{ recipe.water_weight }}<br>
        {{ recipe.time }}<br>
        {{ recipe.description }}<br>
    {% endfor %}
</body>
</html>